<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BattlefieldRichPresence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <BattlefieldRichPresence.Properties.Settings>
            <setting name="bf1942" serializeAs="String">
                <value />
            </setting>
            <setting name="bfvietnam" serializeAs="String">
                <value />
            </setting>
            <setting name="bf2142" serializeAs="String">
                <value />
            </setting>
            <setting name="bf3" serializeAs="String">
                <value />
            </setting>
            <setting name="bf4" serializeAs="String">
                <value />
            </setting>
            <setting name="bfh" serializeAs="String">
                <value />
            </setting>
            <setting name="bfbc2" serializeAs="String">
                <value />
            </setting>
        </BattlefieldRichPresence.Properties.Settings>
    </userSettings>
</configuration>