name: .NET

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2
        
    - name: setup MS-build
      uses: microsoft/setup-msbuild@v1
    
    - name: Setup Nuget
      uses: Nuget/setup-nuget@v1.0.5

    - name: Restore nuget packages
      run: nuget restore "Battlefield rich presence.sln"
    
    - name: Build
      run: msbuild "Battlefield rich presence.sln" /p:Configuration=Release /p:Platform=x64
    - name: release
      uses: zendesk/action-create-release@v1
      id: create_release
      with:
        tag_name: Latest
        release_name: Latest
        draft: false
        prerelease: false
        body_path: CHANGELOG.md
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: upload windows artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: "Battlefield rich presence\\bin\\x64\\Release\\Battlefield rich presence.exe"
        asset_name: "Battlefield rich presence.exe"
        asset_content_type: application/exe
